.descripcionContain{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

.descripcionContain p{
    padding: 20px;
    font-size: 18px;

}

.descripcionContain img{
width: 500px;
padding: 20px;
border-radius: 20px;
}