.footerContain{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
   

}

.student span{
    font-size: 20px;
    font-weight: bolder;
}

.namePage h1{
    font-size: 20px;
    font-weight: bolder;
}